<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edición de usuarios</title>
</head>
<body>
    <form action="{% url 'actualizarUsuario' mostrar.idUsuario %}" method="GET">
      
        <label for="">Nombre</label>
        <input type="text" name="nombre" value="{{mostrar.nPersona}}">
        
        <label for="">Usuario</label> 
        <input type="text" name="usuario" value="{{mostrar.nUsuario}}">

        <label for="">Correo</label>
        <input type="text" name="correo" value="{{mostrar.correo}}">
        
        <label for="">Contraseña</label>
        <input type="text" name="contrasena" value="{{mostrar.contrasena}}">

       
        <button type="submit">Guardar</button>
    </form>
</body>
</html>